@import "tailwindcss";

:root {
  --background: #FFF8E1;
  --primary: #C62828;
  --text: #212121;
  --secondary: #F9A825;
}

html,body{
  background: var(--background);
  height: max-content;
  width: 100vw;
  overflow-x: hidden;
}